{% extends 'base.html.twig' %}

{% block body %}

    <main role="main" class="container">
        <div>
            <h1><a href="{{ path('notification_list_active') }}">Notifications</a> | <a href="{{ path('exercise_index') }}">Exercises</a></h1>
        </div>
    </main>

{% endblock %}