<div class="btn-group float-right">
    <span class="btn btn-outline-primary disabled">Per page</span>
    <a href="{{ url('exercise_index', {'page': currentPage, 'limit': 5}) }}" class="btn btn-outline-primary {% if limit == 5 %} disabled {% endif %}">5</a>
    <a href="{{ url('exercise_index', {'page': currentPage, 'limit': 10}) }}" class="btn btn-outline-primary {% if limit == 10 %} disabled {% endif %}">10</a>
    <a href="{{ url('exercise_index', {'page': currentPage, 'limit': 25}) }}" class="btn btn-outline-primary {% if limit == 25 %} disabled {% endif %}">25</a>
</div>
